/* 
* @Author: Marte
* @Date:   2018-08-17 19:50:36
* @Last Modified by:   Marte
<<<<<<< HEAD
* @Last Modified time: 2018-08-21 12:48:09
=======
* @Last Modified time: 2018-08-18 17:27:29
>>>>>>> f1d6ea4cc8f020c6d44c4a31961c49bca5747a10
*/
*{margin:0;padding:0;}
.containe{width:1200px;margin:0 auto;}
li{list-style: none;}
.fl{float:left;}
.fr{float:right;}
.overflow{overflow:hidden;}
.red{color:#F15C18;}
.blue{color:blue;}
.black{color:black;}
.none{display:none;}
img{display:block;}
<<<<<<< HEAD
.ccc{background-color:#ccc;}
=======
>>>>>>> f1d6ea4cc8f020c6d44c4a31961c49bca5747a10




