/* 
* @Author: Marte
* @Date:   2018-08-20 21:11:30
* @Last Modified by:   Marte
* @Last Modified time: 2018-08-22 19:21:58
*/
#top{height:39px;background-color:#f6f6f6;color:#777;border-bottom:1px solid #E5E5E5;line-height: 39px;font-size: 14px;text-align: center;z-index: 999;position:relative;z-index: 9999;}
#my .u0>li{float:left;}
.l1,.l2,.l3{position:relative;}
.u1,.u2,.u3{background-color: #fff;position: absolute;left:0;top:39px;border:1px solid #ccc;border-top:none;}
.u1 li,.u2 li,.u3 li{width:95px;}

.l1:hover{background-color: #fff;}
.u1>li:hover{background-color: #F6F6F6;}
.u2>li:hover{background-color: #F6F6F6;}
.u3>li:hover{background-color: #F6F6F6;}
.l2:hover{background-color: #fff;}
.l3:hover{background-color: #fff;}
.l1:hover .u1{display:block;}

#top a{text-decoration: none;color:#777;}
.l2:hover .u2{display:block;}
#top i{color:#777;margin-left:10px;}
.l3:hover .u3{display:block;}
#supplier i{color:red;}
#resign span,#my span{border-right:1px solid #ccc;padding-right:20px;}
#logo{height:109px;}
#search{width:550px;height:82px;margin-top:27px;margin-left:125px;}
#mall{margin-top:27px;width:212px;height:82px;}
#logo .input-group{width:550px;height:36px;border:1px solid #F8F8F8;}
#baobei{background-color:#F8F8F8;}
#sousuo{background-color:#F15C18;}
#hot{height:35px;width:550px;margin-bottom:12px;}
#hot li{float:left;height:35px;line-height: 35px;font-size: 14px;padding:0 5px;}
#hot a{display:block;color:#ccc;}
#hot span{border-right:1px solid #ccc;padding-right:5px;}
#mall a{color:black;}
#mall li{height:36px;border:1px solid #ccc;float:left;font-size: 16px;border:1px solid #F0F0F0;}
#mymall{width:224px;position:absolute;right:281px;top:103px;z-index: 999;text-align: center;background-color: #fff;}
#mymall li{margin-left:30px;border:0 none;}
#mymall_b a:hover{color:red;}
#mymall_t{height:100px;}
#mymall_b{width:224px;height:150px;}
.mm:hover #mymall{display:block;}
#car{width:336px;position:absolute;right:113px;top:103px;z-index: 999;text-align: center;background-color:#000;border:1px solid #ccc;}
#car img {
    display:block;
        width: 126px;
        height:60px;
    }
.bai{color:#fff;}
#car li{position:relative;height:100px;width:336px;}
#car .btn-close{position:absolute;top:0;right:0;padding:5px;color:blue;}
#car .btn-close:hover{color:#fff;}
#car .tl{display:block;}
#car .tl{display:block;}
#goodslist img {
        width: 200px;
    }
#car .totals{color:red;line-height: 50px;text-align: right;padding-right:20px;}
 .car:hover #car{display:block;}

#car_t{height:50px;border-bottom:1px solid #ccc;}
#nav{height:41px;line-height: 41px;font-size: 16px;text-align: center;border-bottom:1px solid red;}
#nav .all{width:172px;height:41px;background-color:#F15C18;color:#fff;}
#nav span{color:#F15C18;}
#nav li{float:left;width:60px;height:41px;margin-left:20px;}
#kong1  .containe,#kong2 .containe,#kong3 .containe{height:50px;line-height: 50px;border:1px solid #ccc;}
#kong2 span{color:red;}
#kong3 li{float:left;margin-right:30px;padding:0 5px;}
#kong3 a{color:black;}
#kong3 .l1{background-color: #E7E7E7;}

#g_nav .containe{height:50px;background-color:#E7E7E7;border:1px solid #ccc;margin-top:10px;}
#g_nav li{float:left;line-height: 50px;width:100px;height:50px;text-align: center;}
#g_nav .a{background-color:#F15C18;}
#g_nav input{height:30px;width:66px;}
#g_nav>li:hover{background-color: #fff;}
#g_nav a{color:black;text-decoration: none;}
#g_nav .c_input{width:142px;}
.lpt{position:relative;}
.pt>li:hover{background-color: #E7E7E7;color:red;}
.pt{position:absolute;left:0;top:50px;background-color: #fff;border:1px solid #ccc;}
.lpt:hover .pt{display:block;}
#big .containe{height:2066px;}
#big li{float:left;height:386px;width:232px;border:1px solid #ccc;margin-left:8px;margin-top:10px;padding-left:10px;padding-top:10px;}
#big a{color:black;text-decoration: none;}
.btn_add{ width:116px;height:30px;background-color:#F15C18; text-align: center;line-height: 30px;font-size: 16px;}
#big li img{display:block;width:210px;}
.shoucang{display:block; width:96px;height:30px; text-align: center;line-height: 30px;font-size: 16px;border:1px solid #ccc;}
#big .spa{font-size: 20px;}
#big li:hover{border-color: red;}

#baozheng{height:84px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color: #fff;}
#baozheng img{height:82px;display:block;}
#baozheng .containe{height:84px;padding:0 92px;}
#baozheng li{height:84px;float:left;}
#baozheng ul{height:84px;}
#links{height:184px;background-color: #fff;}
#links a{color:#ddd;text-decoration: none;}
#links .containe{height:184px; }
.links_l{width:300px;height:184px;padding:0 50px;font-size: 14px;padding-top:10px;}

.links_r{width:900px;height:184px;padding-top:10px;}
.links_r ul{display:flex;font-size: 14px;}
.links_r li{float:left;flex:1;padding-left:45px;}
#bottom{height:173px;background-color:black;}
#bottom .containe{height:173px;text-align: center;color:#fff;padding-top:10px;}
#bottom p{padding-top:5px;}
#bottom img{display:block;float:left;margin:0 5px;}
#bottom a{color:#fff;}
.lp{padding-left:316px;}
.f2a{background-color:#CFEEFA;}
.f2b{background-color:#E2F5FD;}