/* 
* @Author: Marte
* @Date:   2018-08-20 18:42:33
* @Last Modified by:   Marte
* @Last Modified time: 2018-08-20 20:10:07
*/
#top{
    height: 80px;
    border-bottom: solid 2px #F5F5F5;
    margin: 5px auto 0 auto;}
#top .containe{height:80px;}
.bt_login{padding-top:35px;font-size: 14px;padding-right:30px;}
#center{background-color:#F2F2F2;padding-top:30px;}
#center .containe{height:600px;margin-top:20px;}
#center .left{width:650px;height:350px;}
#center .right{width:518px;height:455px;padding-left:30px;background-color: #fff;padding-top:50px;}
#center span{height:57px;line-height: 57px;font-size: 16px;}
#a{width:85px; height:57px;line-height: 57px;font-size: 16px;}
.right>div{width:390px;height:57px;border:1px solid #ccc;padding-left: 46px;}
#code{width:135px;height:57px;background-color: #ccc;}
#yz{width:170px;}
.right span{display:block;width:85px;float:left;}
.border input{display:block;width:300px;height:57px;border:0 none;}
#btn{width:400px;height:30px;margin-left:30px;}
#k{border:0 none;margin-top:15px;}
.right{border:1px solid #F2F2F2;}
#bottom{height:173px;background-color:black;}
#bottom .containe{height:173px;text-align: center;color:#fff;padding-top:10px;}
#bottom p{padding-top:5px;}
#bottom img{display:block;float:left;margin:0 5px;}
#bottom a{color:#fff;}
.lp{padding-left:316px;}
.f2a{background-color:#CFEEFA;}
.f2b{background-color:#E2F5FD;}

